<div class="container">
  <div class="title">
    <h1>SOAR Information Center</h1>
  </div>

  <app-data-display 
    title="Successes 🚀"
    class="base" 
    updateType="Success"
  ></app-data-display>
  <app-events></app-events>

  <app-active-projects-status></app-active-projects-status>
  <app-budget></app-budget>

  <app-data-display 
    title="Goals 🏅" 
    class="base upper-left" 
    [spreadSheetData]="sheetData"
  ></app-data-display>
  <app-data-display 
    title="Roadblocks 🚧"
    class="base lower-left"
    updateType="Roadblock"
    [spreadSheetData]="sheetData"
  ></app-data-display>

  <app-data-display 
    title="About the Projects"
    class="base bottom"
    [spreadSheetData]="sheetData"
  ></app-data-display>

</div>
